/* CONTAINER GERAL */
.container-main {
  padding: 0px 2rem;
  margin: 0px 150rem 0px 0px;
  min-width: 100%;

  display: block;
}

/* INICIO NAVBAR */
header {
  background-color: var(--black);
  width: 100%;
  top: 0px;
  position: fixed;
  padding: 20px;
  z-index: 10;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
nav .logos {
  display: none;
}

nav .icon-team {
  display: flex;
  align-items: center;

  background-color: transparent;
  justify-content: flex-start;
}
nav .icon-team img {
  height: auto;
  position: absolute;
  margin-top: 1rem;
  width: 80px;
  object-fit: cover;
}

nav .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
nav .social-media a {
  text-decoration: none;
  color: #000000;
}
nav .social-media i {
  background-color: var(--gray);
  border-radius: 50%;
  font-size: 0.8rem;
  padding: 5px;
  transition: 0.4s ease-in-out all;
}
.social-media i:hover {
  transition: 0.4s ease-in-out all;
  transform: translateY(-3px);
  cursor: pointer;
}
/* FIM NAVBAR */

.option:hover {
  color: var(--primaria);
}

.menu {
  display: none;
}
.menu .options-mobile {
  list-style: none;
}
.menu .options-mobile a {
  text-decoration: none;
  color: var(--white);
}

.mobileMenu {
  display: none;
}

.icon {
  font-size: 20px;
}

/* INICIO SECAO CARROSEL */
.carrossel {
  position: relative;
  min-width: 28rem;
  margin-top: 5rem;
  max-width: 35rem;
  max-height: 30rem;

  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slides img {
  min-width: 100%; /* A imagem ocupará 100% da largura do contêiner */
  min-height: 100%; /* A imagem ocupará 100% da altura do contêiner */
  object-fit: cover; /* A imagem cobrirá completamente o contêiner, mantendo a proporção */
  display: block; /* Remove espaços em branco indesejados */
}

.button {
  font-size: 0.8rem;
  padding: 10px;
}

/* FIM CARROSEl */

/* /* INICIO SOBRE LINE   */
.sobre-line {
  margin-top: 20%;
  gap: 10px;
}
.sobre-line h2 {
  font-size: 1.3rem;
}
.sobre-line p {
  font-size: 1.2rem;
}
/* FIM SOBRE LINE */

/* INICIO INTEGRANTES */
.integrantes {
  margin-top: 20%;
}
.integrantes h2 {
  font-size: 1.3rem;
}
.integrantes .card {
  flex-direction: row;
}
.integrantes .card .foto-integrante img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.sobre-integrante {
  margin-top: 0rem;
  padding-top: 0rem;
}
.integrantes .card .sobre-integrante h3 {
  font-size: 1.3rem;
}
.integrantes .card .sobre-integrante p {
  font-size: 1.1rem;
  min-width: 80%;
  max-width: 90%;
  line-height: 15px;
}

/* FIM INTEGRANTES  */

/* INICIO EVENTO */
.evento {
  margin-top: 20%;
}
.evento h2 {
  font-size: 1.3rem;
}
.evento .sobre-evento {
  gap: 5px;
}
.evento .sobre-evento p {
  font-size: 1.2rem;
}

.sobre-evento img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}
/* FIM EVENTO */

/* INICIO FOOTER */
footer {
  margin-top: 20%;
}
.container-footer {
  align-items: center;
}
.container-footer .contatos {
  justify-content: center;
  display: flex;
  align-items: center;
}
.container-footer .contatos p {
  text-align: center;
  font-size: 1.1rem;
}
.container-footer .contatos iframe {
  width: 200px;
  height: 200px;
}
.container-footer {
  flex-direction: column;
  gap: 20px;
}
.container-footer .logo-footer img {
  width: 100px;
  height: 120px;
  object-fit: cover;
}

@media (max-width: 500px) {
  /* INICIO NAVBAR */
  header {
    padding: 0px;
  }
  nav {
    justify-content: end;
    margin-top: 2rem;
  }
  nav .logos {
    display: none;
  }
  nav .icon-team {
    display: none;
  }
  nav .social-media {
    display: none;
  }
  /* FIM NAVBAR */
  /* INICIO NAVBAR HAMBURGUER */

  .option {
    font-family: var(--font-textos);
    font-weight: 600;

    font-size: 0.8rem;
    transition: all 0.4s ease-in-out;
    color: var(--white);
    cursor: pointer;
    min-width: 100%;
    margin-top: 5px;
  }

  .option:hover {
    color: var(--primaria);
  }

  .menu {
    min-width: 100%;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    background-color: var(--black);
    transform: translateX(380px);
    transition: transform 0.6s ease-in-out;
  }
  .menu .options-mobile {
    list-style: none;
  }
  .menu .options-mobile a {
    text-decoration: none;
    color: var(--white);
  }

  .mobileMenu {
    width: 10%;
    flex-direction: column;
    display: block;
    align-items: flex-end;
    justify-content: center;
  }

  .icon {
    font-size: 20px;
  }
  /* FIM NAVBAR HAMBURGUER */

  /* INICIO CARROSEL */
  .carrossel {
    position: relative;
    min-width: 20rem;
    margin-top: 9rem;
    max-width: 30rem;
    max-height: 30rem;

    overflow: hidden;
  }

  .slides {
    display: flex;
    transition: transform 0.5s ease;
  }

  .slides img {
    min-width: 100%; /* A imagem ocupará 100% da largura do contêiner */
    min-height: 100%; /* A imagem ocupará 100% da altura do contêiner */
    object-fit: cover; /* A imagem cobrirá completamente o contêiner, mantendo a proporção */
    display: block; /* Remove espaços em branco indesejados */
  }

  .button {
    font-size: 0.8rem;
    padding: 10px;
  }

  /* INICO SOBRE LINE */
  .sobre-line {
    margin-top: 20%;
  }
  .sobre-line h2 {
    font-size: 1.1rem;
  }
  .sobre-line p {
    font-size: 1rem;
  }
  /* INICIO INTEGRANTES */
  .integrantes {
    margin-top: 20%;
  }
  .integrantes h2 {
    font-size: 1.1rem;
  }
  .integrantes .card {
    flex-direction: column;
    gap: 5px;
  }
  .sobre-integrante {
    margin-top: 0px;
    gap: 0px;
    padding-top: 0px;
  }
  .card .foto-integrante img {
    width: 100px;
    height: 100px;
  }
  .sobre-integrante h2 {
    font-size: 1.1rem;
  }
  .evento .card .sobre-integrante p {
    min-width: 90%;
    font-size: 1rem;
  }
  /* FIM INTEGRANTES */

  /* INICIO EVENTO */
  .evento .sobre-evento p {
    font-size: 1rem;
    min-width: 100%;
  }
}
@media (min-width: 720px) {
  /* INICIO NAVBAR */
  header {
    padding: 0px;
  }
  nav .icon-team {
    justify-content: center;
  }
  nav .icon-team img {
    height: auto;
    width: 180px;
    margin-top: 5rem;
  }
  nav .logos {
    display: flex;
  }
  .logos .furia-name {
    height: 90px;
    width: 90px;
    object-fit: cover;
  }
  .logos .logo-cs {
    height: 100px;
    width: 100px;
    object-fit: cover;
  }
  nav .social-media i {
    padding: 9px;
    font-size: 1rem;
  }

  /* INICIO CARROSEL */
  .carrossel {
    min-width: 35rem;
    max-height: 40rem;
    max-width: 45rem;
    margin-top: 9rem;
  }
  .sobre-evento img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
